/* Menu */
.Menu_Section{
    background-color: #161616;
    height: 700px;
    position: absolute;
    width: 70%;
    right: 0;
    top: 0;
    border-right: 3px solid #EA6A47;
    overflow-y: scroll;
}
.Menu_Section::-webkit-scrollbar{display: none;}
.Menu_Section img{
    width: 50px;
    padding-top: 15px;
}
.list-item{
    --bs-accordion-bg: transparent;
    --bs-accordion-border-color: transparent;
    padding-top: 40px;
}
.accordion-button::after{
    display: none;
}
.accordion-header button{
    justify-content: center;
    font-size: 20px;
}
.accordion-header button:focus,.accordion-header button:active{
    outline: none;
    box-shadow: 0 0;
    background-color: transparent;
}