.web_width{
    position: relative;
    max-width: 1400px;
    height: 700px;
    background-color: #eaeff2;
}
.w-100{
    width: 100%;
}
.w-70{
    width: 70%;
}
.p-relative{
    position: relative;
}
.pad-10{
    padding: 10px;
}
.content-section{
    background-color: #fff;
    height: 50px;
    padding-left: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    box-shadow: 0 0 2px #ddd;
    border-radius: 2px;
}
.content-section p{
    color: #EA6A47;
    font-size: 18px;
    margin-bottom: 0;
    font-weight: 500;
}
.search-product{
    width: 500px;
    display: flex;
    flex-direction: revert;
    justify-content: center;
    align-items: center;
}
.search-product input{
    border: 0;
    font-size: 13px;
}
.search-product input:focus{
    box-shadow: 0 0;
}
.search-product input::-webkit-input-placeholder{font-size: 13px;}
.search-product button{
    border: 0;
    background-color: transparent;
}
