.table-section{
  margin-top: 45px;
  height: 580px;
  overflow-y: scroll;
}
.table-section::-webkit-scrollbar{
    display: none;
}
thead tr{
    font-size: 13px;
}
tbody tr{
    background-color: #fff;
    background-color: #fff;
    border-radius: 2px;
    height: 50px;
}
tbody td{
    border-bottom: 8px solid #eaeff2;
    border-top: 8px solid #eaeff2;
    font-weight: normal;
    font-size: 13px;
    vertical-align: middle;
}